<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.AgriculturalSales.dao.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.AgriculturalSales.bean.OrderItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="VARCHAR" property="oid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_img_path" jdbcType="VARCHAR" property="pImgPath" />
    <result column="p_price" jdbcType="DECIMAL" property="pPrice" />
    <result column="p_count" jdbcType="INTEGER" property="pCount" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, oid, pid, p_name, p_img_path, p_price, p_count, total_price
  </sql>
  <select id="selectByExample" parameterType="com.AgriculturalSales.bean.OrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_item_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_item_tbl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_item_tbl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.AgriculturalSales.bean.OrderItemExample">
    delete from order_item_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.AgriculturalSales.bean.OrderItem">
    insert into order_item_tbl (id, oid, pid, 
      p_name, p_img_path, p_price, 
      p_count, total_price)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{pName,jdbcType=VARCHAR}, #{pImgPath,jdbcType=VARCHAR}, #{pPrice,jdbcType=DECIMAL}, 
      #{pCount,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.AgriculturalSales.bean.OrderItem">
    insert into order_item_tbl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="pImgPath != null">
        p_img_path,
      </if>
      <if test="pPrice != null">
        p_price,
      </if>
      <if test="pCount != null">
        p_count,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pImgPath != null">
        #{pImgPath,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        #{pPrice,jdbcType=DECIMAL},
      </if>
      <if test="pCount != null">
        #{pCount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.AgriculturalSales.bean.OrderItemExample" resultType="java.lang.Long">
    select count(*) from order_item_tbl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_item_tbl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.oid != null">
        oid = #{record.oid,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null">
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pImgPath != null">
        p_img_path = #{record.pImgPath,jdbcType=VARCHAR},
      </if>
      <if test="record.pPrice != null">
        p_price = #{record.pPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.pCount != null">
        p_count = #{record.pCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_item_tbl
    set id = #{record.id,jdbcType=INTEGER},
      oid = #{record.oid,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_img_path = #{record.pImgPath,jdbcType=VARCHAR},
      p_price = #{record.pPrice,jdbcType=DECIMAL},
      p_count = #{record.pCount,jdbcType=INTEGER},
      total_price = #{record.totalPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.AgriculturalSales.bean.OrderItem">
    update order_item_tbl
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pImgPath != null">
        p_img_path = #{pImgPath,jdbcType=VARCHAR},
      </if>
      <if test="pPrice != null">
        p_price = #{pPrice,jdbcType=DECIMAL},
      </if>
      <if test="pCount != null">
        p_count = #{pCount,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.AgriculturalSales.bean.OrderItem">
    update order_item_tbl
    set oid = #{oid,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      p_name = #{pName,jdbcType=VARCHAR},
      p_img_path = #{pImgPath,jdbcType=VARCHAR},
      p_price = #{pPrice,jdbcType=DECIMAL},
      p_count = #{pCount,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>